<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--for bootstrap-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Универсальный калькулятор для расчета каркаса дома</title>
    <!-- for Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/Styles.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
     <!-- for Calculate-->
    <script src="/static/js/calc.js">
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
              <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Домой</a></li>
              <li><a href="" data-toggle="modal" data-target="#aboutModal"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;О программе</a></li>
            </ul>
            <h3 class="text-muted">Расчет каркаса дома</h3>
        </div>
        <!-- aboutModal -->
            <div class="modal fade" id="aboutModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">О программе</h4>
                  </div>
                  <div class="modal-body">
                    <p>Универсальный калькулятор для расчета каркаса дома.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="text-center">
                    <h2>Универсальный калькулятор для расчета каркаса дома</h2>
                    <img src="../static/images/images1.jpg" alt="Каркасный дом" class="img-rounded">
                    <p class="lead">Данный калькулятор позволяет рассчитать рассчитать различные парамметры, необходимые для строительства Вашего дома: площадь дома, количество пиломатериала, объем утеплителя.</p>
                    <p><a class="btn btn-lg btn-success" href="#calc1" role="button">Перейти к рассчету &raquo;</a></p>
                </div>
            </div>
        </div>

        <hr>
        <!-- Example row of columns -->
        <form id="calc1">
            <div class="row">
                <div class="col-md-6">
                    <h3>Размеры дома,&nbsp;<em>м</em></h3>
                    <table>
                        <tr>
                            <td>Ширина дома,&nbsp;<em>м</em></td>
                            <!--Для значения по умолчанию - <input type="text" id="a1" placeholder="7.2"> -->
                            <td><input type="text" class="form-control input-sm" id="a1" value="7.2"></td>
                        </tr>
                        <tr>
                            <td>Длина дома,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="a2" value="6.3"></td>
                        </tr>
                        <tr>
                            <td>Высота дома в коньке,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="a3" value="7.3"></td>
                        </tr>
                        <tr>
                            <td>Высота дома без фронтона,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="a4" value="2.7"></td>
                        </tr>
                        <tr>
                            <td>Высота фронтона,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="a5" value="3"></td>
                        </tr>
                        <tr>
                            <td>Протяженность внутренних стен,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="a6" value="15"></td>
                        </tr>
                        <tr>
                            <td>Количество жилых этажей,&nbsp;<em>шт.</em></td>
                            <td><input type="text" class="form-control input-sm" id="a7" value="1"></td>
                        </tr>
                    </table>
                    <p class="bg-warning">Значения должны вводиться через точку.</p>
                </div>
                <div class="col-md-6">
                    <h3>Толщина утепления,&nbsp;<em>м</em></h3>
                    <table>
                        <tr>
                            <td>Внешние стены,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="u1" value="0.15"></td>
                        </tr>
                        <tr>
                            <td>Внутренние стены,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="u2" value="0.1"></td>
                        </tr>
                        <tr>
                            <td>Пол,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="u3" value="0.15"></td>
                        </tr>
                        <tr>
                            <td>Кровля,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="u4" value="0.15"></td>
                        </tr>
                        <tr>
                            <td>Фронтон,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="u5" value="0.15"></td>
                        </tr>
                        <tr>
                            <td>Потолок,&nbsp;<em>м</em></td>
                            <td><input type="text" class="form-control input-sm" id="u6" value="0.15"></td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-primary btn-sm" id="calcButton">Рассчитать</button>
                </div>
            </div>
            <!-- End row-->
        </form>

        <hr>
        <!--Площади дома-->
        <h4 class="sub-header">Площади дома,&nbsp;<em>м<sup>2</sup></em></h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Показатель</th>
                        <th>Ед. измерения</th>
                        <th>количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Площадь пола</td>
                        <td><em>м<sup>2</sup></em></td>
                        <td><div id="s1" class="result"></div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                         <td>Площадь потолка</td>
                        <td><em>м<sup>2</sup></em></td>
                         <td><div id="s2" class="result"></div></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Площадь внешних стен без фронтона</td>
                        <td><em>м<sup>2</sup></em></td>
                        <td><div id="s3" class="result"></div></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Площадь внутренних стен</td>
                        <td><em>м<sup>2</sup></em></td>
                        <td><div id="s4" class="result"></div></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Площадь фронтонных стен</td>
                        <td><em>м<sup>2</sup></em></td>
                        <td><div id="s5" class="result"></div></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Жилая площадь дома</td>
                        <td><em>м<sup>2</sup></em></td>
                        <td><div id="s6" class="result"></div></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Площадь двухскатной кровли</td>
                        <td><em>м<sup>2</sup></em></td>
                        <td><div id="s7" class="result"></div></td>
                    </tr>
              </tbody>
            </table>
        </div>

        <hr>
        <!--Объем утеплителя-->
        <h4 class="sub-header">Объем утеплителя,&nbsp;<em>м<sup>3</sup></em></h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Показатель</th>
                        <th>Ед. измерения</th>
                        <th>количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Пол</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v1"></div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Потолок</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v24"></div></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Внешние стены</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v2"></div></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Внутренние стены</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v3"></div></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Кровля</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v4"></div></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Фронтонные стены</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v5"></div></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Суммарный объем утеплителя</td>
                        <td><em>м<sup>3</sup></em></td>
                        <td><div id="v6"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <!--доска 50х150-->
        <h4 class="sub-header">Доска 50&times;150,&nbsp;<em>пог.&nbsp;<em>м</em></em>.</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Показатель</th>
                        <th>Ед. измерения</th>
                        <th>количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Стеновой каркас</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodFrame"></div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Стропила</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodRoofFrame"></div></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Фронтонные стены</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodFrameFront"></div></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Лаги пола</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodFloor"></div></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Междуэтажное перекрытие</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodFloor2"></div></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Суммарное количество доски</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodSummary"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <!--доска 50х100-->
        <h4 class="sub-header">Доска 50&times;100,&nbsp;<em>пог.&nbsp;<em>м</em></em>.</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Показатель</th>
                        <th>Ед. измерения</th>
                        <th>количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Внутренние стены</td>
                        <td><em>пог.&nbsp;<em>м</em></em></td>
                        <td><div id="woodInsideWall"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <!--доска25х150х6000-->
        <h4 class="sub-header">Доска 25&times;150&times;6000, <em>шт.</em></h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Показатель</th>
                        <th>Ед. измерения</th>
                        <th>количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Обрешетка кровли (через одну доску)</td>
                        <td><em>шт.</em></td>
                        <td><div id="wood25x150Roof"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="footer">
        <p>&copy; Расчет каркаса дома 2015</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>